<h1>LAZY LOADING</h1>

<!-- <ul>
  <li>
    <a routerLink="/auth/login">Login</a>
  </li>
  <li>
    <a routerLink="/auth/registro">Registro</a>
  </li>
  <li>
    <a routerLink="/auth/forgot">Forgot</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/productos/agregar">agregar</a>
  </li>
  <li>
    <a routerLink="/productos/editar">editar</a>
  </li>
  <li>
    <a routerLink="/productos/listado">listado</a>
  </li>
  <li>
    <a routerLink="/productos/producto">producto</a>
  </li>
</ul> -->

<ul>
  <li>
    <a routerLink="/data/informacion">Información</a>
  </li>
  <li>
    <a routerLink="/data/portrait">portrait</a>
  </li>
</ul>

<router-outlet></router-outlet>
